{% extends 'includes/base.html' %}
{% block body %}
<title> message </title>
<div class="container">
    <div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="">
                   {% for ms in msg %}
                        {{ ms.content }}
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="margin: auto;width: 50%">
        <div class="form-group ">
            <form action="{{ url_for('site.message', mid = msg.get().id) }}" class="form-group" method="POST">
                {{ form.hidden_tag() }}
                <div class=" mt-2 mb-2">
                    {{ form.content(class="form-control")}}
                </div>
                <div class="mt-2">
                    {{ form.submit(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}