{% extends 'includes/layout.html' %}
{% block content %}
<title class="mt-3">Login into your Account</title>
<div class="card" style="margin: auto;width: 50%;">
    <div class="shadow container pb-4 pt-4 pl-4 pr-4">
        <form class="form-group container" action="{{ url_for('site.login') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="">
                <div class="mb-3">
                    {{ form.username.label() }}
                    {% if form.username.errors %}
                    {{ form.username(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.password.label() }}

                    {% if form.password.errors %}

                    {{ form.password(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}

                    {{ form.password(class='form-control') }}

                    {% endif %}
                </div>
                <div class="custom-control mb-3 custom-checkbox">
                    {{ form.rememberme(class='custom-control-input') }}
                    {{ form.rememberme.label(class='custom-control-label') }}
                </div>
            </div>
            <div>
                {{ form.submit(class='btn btn-primary') }}
            </div>
    </div>
    </form>
    <div class="card-footer">
        <small>Don't have an account? <a href="{{ url_for('site.register') }}" class="btn btn-link">Register</a></small>
    </div>
</div>
</div>
{% endblock %}