{% extends 'admin/master.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for user in users %}
        <ul class="list unstyle">
            <li class="media mb-2">
                <img src="{{  url_for('static',filename='profile_pictures/'+ user.username +'/' + user.picture) }}" class="mr-3 rounded-lg" alt="..." style="width: 18rem;">
                <h5 class="mt-0 mb-1"><a href="{{ url_for('site.user_account',id = user.id) }}">{{ user.name }}</a></h5>
                <div class="media-body">
                    <p class="card-text text-muted"> </p>
                    {{ user.user_lastseen(user.id)}}
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock body %}

