{% extends 'includes/layout.html' %}
{% block content %}
<div class="container">
    <div class="">
        <div class="media mt-4 ml-4 mr-4">
            <img src="{{ image }}" class="align-self-start mr-3 rounded-lg mb-3" alt="{{ current_user.picture }}" height="130" width="130">
            <div class="media-body">
                <h4 class="mt-0">Name: {{ current_user.name }}</h4>
                <h4 class="mt-0">Email: {{ current_user.email }}</h4>
                <h4 class="mt-0">Username: {{ current_user.username }}</h4>
                <h4 class="mt-0">Location: <a href="https://maps.google.com/maps?q={{current_user.location}}">{{ current_user.location }}</a> </h4>
                <h4 class="mt-0">KCrypto ID: {{ current_user.kcrypto_id | truncate(50) }}</h4>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
                    Delete Account
                </button>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              <p class="lead"> Do you want to delete your Account {{ current_user.name}}?</p>
                               <p>The following will be deleted</p>
                               <ul class="list-group">
                                <li class="list-group-item">
                                    1. Articles
                                    <br>
                                    2. Comments
                                    <br>
                                    3. ETC.
                                </li>
                                
                              </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{{ url_for('site.delete_account', id = current_user.id) }}">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center mt-4 mb-4">Update Account Information</h3>
    <div>
        <form class="form-group container" action="{{ url_for('site.account') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="mb-3 col-6">
                    {{ form.name.label() }}

                    {% if form.name.errors %}
                    {{ form.name(class='form-control is-invalid') }}
                    <div class="invalid-tooltip">
                        {% for error in form.name.errors %}
                             <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                        </div>
                    {%else%}
                    {{ form.name(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3 col-6">
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                    {{ form.email(class='form-control is-invalid') }}
                    <div class="invalid-tooltip">
                        {% for error in form.email.errors %}
                             <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {{ form.email(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3  col-6">
                    {{ form.username.label() }}
                    {% if form.username.errors %}
                    {{ form.username(class='form-control is-invalid') }}
                    <div class="invalid-tooltip">
                        {% for error in form.username.errors %}
                             <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {{ form.username(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3 col-6">
                    <label>Location</label>
                    <select class="form-control" name="location">
                        <option>{{ current_user.location }}</option>
                        <option>Ghana</option>
                        <option>United State</option>
                        <option>United kingdom</option>
                        <option>China</option>
                        <option>India</option>
                        <option>Nageria</option>
                        <option>Brazil</option>
                    </select>
                </div>
                <div class="mb-3 col-6 custom-file">
                    {{ form.picture.label(class='custom-file-label', for='customFile') }}
                    {% if form.picture.errors %}
                    {{ form.picture(class='custom-file-input is-invalid', id='customFile') }}
                    <div class="invalid-tooltip">
                        {% for error in form.picture.errors %}
                             <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {{ form.picture(class='form-control custom-file-input',id='customFile') }}
                    {% endif %}
                </div>
                <div style="margin: auto;width: 15%;">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}