{% extends 'includes/layout.html' %} {% block content %}
<div class="container">
    <div class="">
        {% for user in object_list %}
        <div class="">
            <h5 class="text-center mb-4">Your Friends</h5>
            <ul class="list-unstyled">
                <li class="media">
                    <img src="{{  url_for('static',filename='profile_pictures/' + user.from_user.username+'/'+user.from_user.picture)  }}" class="mr-3 rounded-lg" alt="..." width="120" height="120">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> <a href="{{ url_for('site.account',id = user.from_user.id) }}">{{ user.from_user.name }}</a></h5>
                        <p class="text-muted"> last seen {{ current_user.user_lastseen( user.from_user.id) }}</p>
                        <p class="media-text">
                            <form action="{{ url_for('site.unfriend',id = user.from_user.id) }}" method="post">
                                <input type="submit" value="unfriend" class="btn  btn-success mb-2" />
                            </form>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
     {% include "includes/pagination.html" %}
</div>
{% endblock %}