{% extends 'includes/layout.html' %}
{% block content %}
<title> {{ title }} </title>
{{ object_list }}
<div class="container">
    <p class="lead">Page {{ pagination.get_page() }} out of {{ pagination.get_page_count() }}</p>
    {% for article in object_list %}
    <ul class="list-unstyled" style="width: 70%;">
        <li class="media mb-2">
            <img src="{{  url_for('static',filename='profile_pictures/'+ article.user.username +'/' + article.user.picture ) }}" class="mr-3 rounded-lg" alt="..." height="90" width="90">
            <div class="media-body"><a href="{{ url_for('site.user_account',id = article.user.id) }}">{{ article.user.name }}</a>
                <p class="text-muted">{{ human_time(article.date_posted) }} </p>
                <p>{{ article.title | safe }}</p>
                {% if int(article.likes)== 1 %}
                <span class="badge badge-pill badge-secondary">{{ article.likes }} like <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                {% elif int(article.likes) > 1%}
                <span class="badge badge-secondary">{{ int(article.likes) }} likes <i class="fa fa-thumbs-up " aria-hidden="true"></i></span>
                {% else %}
                <span class="badge badge-secondary">{{ int(article.likes) }} like <i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                {% endif %}
                <a href="{{ url_for('site.read_article', pid = article.id) }}" class="">Read
                    More</a>
                {% if current_user.get_userlike(current_user.id ,article.id) %}
                <form action="{{ url_for('site.unlike_article',id = article.id ) }}" method="POST">
                    <input type="submit" value="unlike" class="btn  mt-2 btn-outline-danger mb-2" />
                </form>
                {% else %}<form action="{{ url_for('site.like_article',id = article.id ) }}" method="POST">
                    <input type="submit" value="like" class="btn mt-2 btn-success mb-2" />
                </form>
                {% endif %}
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
 {% include "includes/pagination.html" %}
{% endblock %}