{% extends 'includes/layout.html' %}{% block content %}
<title>Add New Article</title>
<div class="container">
    <h3 class="mb-3">Create New Article</h3>
    <div class="">
        <div class="pb-4 pt-4 pl-4 pr-4">
            <form class="form-group container" action="{{ url_for('site.new_article') }}" method="POST" enctype="multipart/form-data">
                <div >
                    {{ form.submit(class='btn btn-primary') }}
                </div>
                <div class="mb-3 mt-3 custom-file" style="width: 30%">
                    {{ form.photo.label(class='custom-file-label', for='customFile') }}
                    {% if form.photo.errors %}
                    {{ form.picture(class='custom-file-input is-invalid', id='customFile') }}
                    <div class="invalid-tooltip">
                        {% for error in form.photo.errors %}
                             <span class="mb-2"> {{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {{ form.photo(class='form-control custom-file-input',id='customFile') }}
                    {% endif %}
                </div>
                {{ form.hidden_tag() }}
                <div class="">
                    <div class="mb-4">
                        <h4 class="text-center">{{ form.title.label() }}</h4>
                        {{ form.title(class='form-control') }}
                    </div>
                    <div class="mb-3 mt-3">
                        <h4 class="text-center">{{ form.content.label() }}</h4>
                        {{ form.content(class='form-control') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}