{% extends 'includes/layout.html' %} {% block content %}
{{ title }}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-center mb-4">You have {{ current_user.count_pending_relationship() }} friend request</h5>
            {% for user in object_list %}
                {% for ruser in current_user.get_all_pending_relationship(user.id) %}
                    {% if current_user.id == ruser.to_user.id %}
                    <ul class="list-unstyled">
                        <li class="media">
                            <img src="{{  url_for('static',filename='profile_pictures/' + ruser.from_user.username+'/'+ruser.from_user.picture)  }}" class="mr-3 rounded-lg" alt="..." width="120" height="120">
                            <div class="media-body">
                                <h5 class="mt-0 mb-2 ml-2"> <a href="{{ url_for('site.user_account',id = ruser.from_user.id) }}">{{ ruser.from_user.name }}</a></h5>
                                <p class="media-text">
                                    <a href="{{ url_for('site.confirm_friend',userid = ruser.from_user.id) }}" class="btn container btn-success mb-2">Accept</a>
                                    <a href="{{ url_for('site.disclined_friend',userid = ruser.from_user.id) }}" class="btn container btn-danger mb-2">Discline</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor%}
            {% endfor %}
        </div>
        <div class="col-2">
            <p></p>
        </div>
        <div class="col-5">
            <h5 class="text-center mb-4">People you may know</h5>
            {% for user in object_list %}
            <div class="col">
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="{{  url_for('static',filename='profile_pictures/' +user.username+'/'+user.picture)  }}" class="mr-3 rounded-lg" alt="..." width="120" height="120">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"> <a href="{{ url_for('site.user_account',id = user.id) }}">{{ user.name }}</a></h5>
                            <p class="text-muted"> last seen {{ user.user_lastseen(user.id) }}</p>
                            <p class="media-text">
                                {% if current_user.is_relationship(user.id) or current_user.is_pending_relationship(user.id) %}

                                    {% else %}

                                <a href="{{ url_for('site.add_friend',id = user.id) }}" class="btn container btn-success mb-2">Add friend</a>
                                {% endif %}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
     {% include "includes/pagination.html" %}
</div>
{% endblock %}