{% extends 'includes/layout.html' %}{% block content %}
<title>Update Article</title>
<div class="">
    <h3 class="mb-3 text-center">Update Article</h3>
    <div class="">
        <div class="pb-4 pt-4 pl-4 pr-4">
            <form class="form-group container" action="{{ url_for('site.update_article',pid = article.id) }}" method="POST">
                <div>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
                {{ form.hidden_tag() }}
                <div class="">
                    <div class="mb-4">
                        <h4 class="text-center">{{ form.title.label() }}</h4>
                        {{ form.title(class='form-control') }}
                    </div>
                    <div class="mb-3 mt-3">
                        <h4 class="text-center">{{ form.content.label() }}</h4>
                        {{ form.content(class='form-control') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}